aenum==2.0.8
asn1crypto==0.24.0
attrs==17.3.0
Automat==0.6.0
beautifulsoup4==4.6.0
certifi==2017.11.5
cffi==1.11.2
chardet==3.0.4
constantly==15.1.0
cryptography==2.1.4
cycler==0.10.0
decorator==4.1.2
hyperlink==17.3.1
idna==2.6
incremental==17.5.0
jsonpickle==0.9.5
klein==17.10.0
matplotlib==2.1.1
numpy==1.13.3
pandas==0.21.1
pyasn1==0.4.2
pyasn1-modules==0.2.1
pycparser==2.18
pyOpenSSL==17.5.0
pyparsing==2.2.0
PyPika==0.10.1
pypiwin32==220
python-dateutil==2.6.1
pytz==2017.3
requests==2.18.4
scikit-learn==0.19.1
scipy==1.0.0
service-identity==17.0.0
six==1.11.0
treq==17.8.0
twistar==1.6
Twisted==22.10.0
urllib3==1.22
Werkzeug==0.13
zope.interface==4.4.3
